body {
    background-color: #80DED9;
}

iframe {
    height: 1000px;
    width: 500px;
}

.titel {
    float: right;
    display: block;
}

.nav_list_item {
    display: inline-block;
    padding: 5px;
    background-color: #F2CD5D;
    text-decoration: none;
}

#nav_list {
    padding: 10px;
    background-color: #c3a449;
}